#Dependency directories
node_modules/
jspm_packages/
package-lock.json

#Build outputs
dist/
build/
.cache/

#Environment variables
.env

#IDE
.vscode/
.history/
*.log
Thubs.db

#Others
Anexe/
Licenta.zip
