.user-card-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.waiter-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.icons-wrapper{
    width: 15%;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.access-code-field-wrapper{
    display: block;
}

.access-code-field-wrapper > input{
    width: 50%;
}